@model List<InventoryWebService.Models.Inventory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Inventory" asp-action="Index">
    <p>
        Name: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" /> |
        <a asp-action="Index">Back to Full List</a>
    </p>
</form>
<form asp-controller="Inventory"></form>
<table class="table">
    <thead>
        <tr>
            <th>                
                
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model![0].Name)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["QuantitySortParm"]">@Html.DisplayNameFor(model => model![0].Quantity!)</a>
                
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CreatedOnSortParm"]">@Html.DisplayNameFor(model => model![0].CreatedOn!)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model![0].LastUpdatedOn!)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model!)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)                    
                </td>
                <td>                   
                    @Html.DisplayFor(modelItem => item.LastUpdatedOn)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-itemName="@item.Name">Edit</a> |
                    <a asp-action="Details" asp-route-itemName="@item.Name">Details</a> |
                    <a asp-action="Delete" asp-route-itemName="@item.Name">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
